<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
  <h2>Reset Password</h2>
  <form action="/forgot-password" method="POST">
    <input type="text" name="username" placeholder="Enter your username" required>
    <input type="password" name="newPassword" placeholder="Enter new password" required>
    <button type="submit" class="btn">Reset Password</button>
  </form>

  <form action="/forgot-password1" method="GET" style="margin-top: 10px;">
    <button type="submit" class="btn">Using OTP</button>
  </form>
</div>
