
<%- include('partials/header') %>

<body>
   
   <div class="header">
       <div class="container">
  
<%- include('partials/navbar') %>
           <div class="row">
                <div class="col-2">

                    <h1>Give Your Workout<br>A New Style!</h1>
                    <p>Success isn’t always about greatness. It’s about consistency. Consistent<br>hard work gains success. Greatness will come.</p>
                    <a href="/home" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="/images/image1.png">
                </div>
            </div>
            </div>
     </div>
<!------------------ featured categories --------------->
     <div class="categories">
         <div class="small-container">
           <div class="row">
               <div class="col-3">
                   <img src="images/category-1.jpg">
               </div> 
               <div class="col-3">
                  <img src="images/category-2.jpg">
               </div> 
               <div class="col-3">
                   <img src="images/category-3.jpg">
               </div> 
           </div>
       </div>
     </div>
       
<!-------------- Our Featured Products -------------->
  
  
  <div class="small-container">
        <h2 class="title">Featured Products</h2>
           <div class="row">
               <div class="col-4">
                   
                   <a href="/product-details1"><img src="/images/product-1.jpg"></a>
                   <h4><a href="/product-details1">Red Printed T-Shirt</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-o"></i>
                   </div>
                   <p>₹230.00</p>
               </div> 
               <div class="col-4">
                <a href="/product-details2"><img  src="images/shoes1.jpeg"></a>
                <h4><a href="/product-details2">Air Jordan Low 1</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>₹9995.00</p>
            </div> 
               <div class="col-4">
                <a href="/product-details3"><img src="imagess/pants1.webp"></a>
                <h4><a href="/product-details3">Black Trackpants</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-half-o"></i>
                   </div>
                   <p>₹950.00</p>
               </div> 
                <div class="col-4">
                    <a href="/product-details4"><img src="imagess/shirt1.webp"></a>
                    <h4><a href="/product-details4">Check-Shirt</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-o"></i>
                   </div>
                   <p>₹599.00</p>
               </div> 
           </div>
        <h2 class="title">Latest Products</h2>
             <div class="row">
               <div class="col-4">
                <a href="/product-details5"><img src="imagess/greyShoes1Type2.webp"></a>
                <h4><a href="/product-details5">Nike Grey Sports Shoes</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-o"></i>
                   </div>
                   <p>₹1899.00</p>
               </div> 
               <div class="col-4">
                <a href="/product-details6"><img src="imagess/black_T-shirt1.webp"></a>
                <h4><a href="/product-details6">Black T-Shirt</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-half-o"></i>
                   </div>
                   <p>₹600.00</p>
               </div> 
               <div class="col-4">
                <a href="/product-details7"><img src="imagess/shoes1.webp"></a>
                <h4><a href="/product-details7">Brown Leather Shoes</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-half-o"></i>
                   </div>
                   <p>₹1150.00</p> 
               </div> 
                <div class="col-4">
                    <a href="/product-details8"><img src="imagess/silverwatch1.webp"></a>
                    <h4><a href="/product-details8">Titan Silver Vintage Watch</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-o"></i>
                   </div>
                   <p>₹1200.00</p>
               </div> 
           </div>
           <div class="row">
               <div class="col-4">
                <a href="/product-details9"><img src="imagess/watch1.webp"></a>
                    <h4><a href="/product-details9">Brown Fastrack Watch</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-o"></i>
                   </div>
                   <p>₹1350.00</p> 
               </div> 
               <div class="col-4">
                <a href="/product-details10"><img src="imagess/BlackShoes1.webp"></a>
                <h4><a href="/product-details10">Adidas Black Shoes</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-half-o"></i>
                   </div>
                   <p>₹1650.00</p>
               </div> 
               <div class="col-4">
                <a href="/product-details11"><img src="imagess/greyShoes1.webp"></a>
                    <h4><a href="/product-details11">Puma Grey Sports Shoes</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-half-o"></i>
                   </div>
                   <p>₹1099.00</p>
               </div> 
                <div class="col-4">
                    <a href="/product-details12"><img src="imagess/jeans1.webp"></a>
                    <h4><a href="/product-details12">Denim-Jeans</a></h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-o"></i>
                   </div>
                   <p>₹750.00</p>
               </div> 
           </div>
       </div>
       
<!----------offer--------------->
  
   <div class="offer">
       <div class="small-container">
           <div class="row">
           <div class="col-2">
               <img src="images/exclusive.png" class="offer-img">
           </div>
           <div class="col-2">
               <p>Exclusively Available on GoCart</p>
               <h1>Smart Band 4</h1>
               <small>The Mi Smart Band 4 features a 39.9% larger (than Mi Band 3) AMOLED color full-touch display with adjustable brightness, so everything is clear as can be.</small>
               <br>
               <a href="/home" class="btn">Buy Now &#8594;</a>
           </div>
       </div>
       </div>
       
   </div>
   
<!----------testimonial--------------->   
  
   <div class="testimonial">
       <div class="small-container">
       <div class="row">
           <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                      <p>Decent shoes if you're looking for something stylish but not too flashy. They're comfy for casual walks, but not ideal for workouts or running. A bit pricey for what they offer in performance, but they look good with jeans</p>
                      <div class="rating">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star-o"></i>
                       </div>
                       <!-- <img src="images/user-1.png"> -->
                       <h3>Dishant Dubey</h3>
           </div>
            <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                      <p>As someone who runs daily, these Trackpants are a game-changer. The fabric is breathable, dries super fast, and fits just right without being too tight. Pockets are deep enough to hold my phone while jogging. Highly recommend for serious athletes!</p>
                      <div class="rating">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star-o"></i>
                       </div>
                       <!-- <img src="images/user-2.png"> -->
                       <h3>Harsh Rana</h3>
           </div>
            <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                      <p>I bought this tee to match my streetwear vibe, and it definitely delivers! Super comfy and the print is bold. Lost one star because the color faded slightly after two washes, but overall it’s still a staple in my wardrobe.</p>
                      <div class="rating">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star-o"></i>
                       </div>
                       <!-- <img src="images/user-3.png"> -->
                       <h3>Pratham Sharma</h3>
           </div>
       </div>
       </div>
   </div>
<!----------Brands--------------->     
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="images/logo-godrej.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-oppo.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-coca-cola.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-paypal.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-philips.png">
                </div>
            </div>
        </div>
    </div>
<!----------Footer---------------> 

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
               <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="images/play-store.png">
                    <img src="images/app-store.png">
                </div>
            </div>
            <div class="footer-col2">
               <img src="images/logo-white.png">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col3">
               <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col4">
               <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter<li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2025</a></p>
    </div>
    
</div>



<!-------------js for toggle menu-------------->

<script>
    
    var MenuItems = document.getElementById("MenuItems");
    
    MenuItems.style.maxHeight = "0px";
    
    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            } 
    }

    
</script>

<script src="/js/share.js"></script>

</body>
</html>

