    <%- include('partials/header') %>

    <body>
       
       <div class="header">
           <div class="container">
      
    <%- include('partials/navbar') %>
          
       </div>
       
       
<!--------------single-product--------------->
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="images/gallery-1.jpg" width="100%" id="ProductImg">
            <div class="small-img-row">
               <div class="small-img-col">
                   <img src="images/gallery-1.jpg" class="small-img" width="100%">
               </div>
               <div class="small-img-col">
                   <img src="images/gallery-2.jpg" class="small-img" width="100%">
               </div>
               <div class="small-img-col">
                   <img src="images/gallery-3.jpg" class="small-img" width="100%">
               </div>
               <div class="small-img-col">
                   <img src="images/gallery-4.jpg" class="small-img" width="100%">
               </div>
    
            </div>
            
        </div>
        <div class="col-2">
            <p>T-Shirt</p>
            <h1>Red Printed Tshirt by Puma</h1>
            <h4>₹230.00</h4>
            
            <select>
               <option>Select Size</option>
               <option>XXL</option>
               <option>XL</option>
               <option>Large</option>
               <option>Medium</option>
               <option>Small</option>
           </select>
            
<form action="/cart/add" method="POST">
    <input type="hidden" name="name" value="Red Printed T-Shirt">
    <input type="hidden" name="price" value="230.00">
  
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" value="1" min="1" required>
  
 <!-- Assuming each product has an image -->
<button type="submit" class="add-to-cart" data-image="/images/buy-1.jpg">Add to Cart</button>

  </form>
   <h3>PRODUCT DETAILS <i class="fa fa-indent"></i></h3>
            <br>
            <p>Give your summer wardrobe a style upgrade with the Puma Men's Active T-shirt. Team it with a pair of shorts for your morning workout or a denims for an evening out with the guys.</p>
        </div>
    </div>
</div>
<!----------------- title -------------->
<div class="small-container">
   <div class="row row-2">
       <h2>Related Products</h2>
       <p>View More</p>
   </div>
    
</div>
    
<!-------------- Our Products -------------->
 <div class="small-container">
              
                  <div class="row">
                    <div class="col-4">
                        <a href="/product-details9"><img src="imagess/watch1.webp"></a>
                            <h4><a href="/product-details9">Brown Fastrack Watch</a></h4>
                           <div class="rating">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star-o"></i>
                           </div>
                           <p>₹1350.00</p> 
                       </div> 
                       <div class="col-4">
                        <a href="/product-details10"><img src="imagess/BlackShoes1.webp"></a>
                        <h4><a href="/product-details10">Adidas Black Shoes</a></h4>
                           <div class="rating">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star-half-o"></i>
                           </div>
                           <p>₹1650.00</p>
                       </div> 
                       <div class="col-4">
                        <a href="/product-details11"><img src="imagess/greyShoes1.webp"></a>
                            <h4><a href="/product-details11">Puma Grey Sports Shoes</a></h4>
                           <div class="rating">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star-half-o"></i>
                           </div>
                           <p>₹1099.00</p>
                       </div> 
                        <div class="col-4">
                            <a href="/product-details12"><img src="imagess/jeans1.webp"></a>
                            <h4><a href="/product-details12">Denim-Jeans</a></h4>
                           <div class="rating">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star-o"></i>
                           </div>
                           <p>₹750.00</p>
                       </div> 
                   </div>
                
                </div>
                
            </div>
       
          
        

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
               <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="images/play-store.png">
                    <img src="images/app-store.png">
                </div>
            </div>
            <div class="footer-col2">
               <img src="images/logo-white.png">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col3">
               <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col4">
               <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter<li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright"><a href="#">Copyright 2025</a></p>
    </div>
    
</div>



<!-------------js for toggle menu-------------->

<script>
    
    var MenuItems = document.getElementById("MenuItems");
    
    MenuItems.style.maxHeight = "0px";
    
    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            } 
    }
    
//-------------Produc Gallery------------
    
    var ProductImg = document.getElementById("ProductImg");
    
    var SmallImg = document.getElementsByClassName("small-img");
       
 
        SmallImg[0].onclick = function()
        {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function()
        {
            ProductImg.src = SmallImg[1].src;
        
        }
        SmallImg[2].onclick = function()
        {
            ProductImg.src = SmallImg[2].src;
        
        }
        SmallImg[3].onclick = function()
        {
            ProductImg.src = SmallImg[3].src;
        
        }

  //-------------End Produc Gallery------------  
    
    
    
    
</script>

<script src="/js/cart.js"></script>

</body>

</html>

