
<%- include('partials/header') %>

<body>
   <div class="header">
       <div class="container">
   <%- include('partials/navbar') %>
       </div>
   </div>

   <!-- Single Product Section -->
   <div class="small-container single-product">
       <div class="row">
           <div class="col-2">
               <img src="imagess/greyShoes1Type2.webp" width="100%" id="ProductImg">
               <div class="small-img-row">
                <div class="small-img-col">
                    <img src="imagess/greyShoes2Type2.webp" class="small-img" width="100%">
                </div>
                   <div class="small-img-col">
                       <img src="imagess/greyShoes3Type2.webp" class="small-img" width="100%">
                   </div>
                   <div class="small-img-col">
                       <img src="imagess/greyShoes1Type2.webp" class="small-img" width="100%">
                   </div>
               </div>
           </div>

           <div class="col-2">
               <p>Mens's Shoes</p>
               <h1>Nike Grey Sports Shoes</h1>
               <h4>₹1899.00</h4>

               <!-- Product Selection Form -->
               <form action="/cart/add" method="POST">
                   <!-- Hidden fields for product name and price -->
                   <input type="hidden" name="name" value="Nike Grey Sports Shoes">
                   <input type="hidden" name="price" value="1899.00">

                   <!-- Size Selection Dropdown -->
                   <label for="size">Select Size:</label>
                   <select name="size" required>
                       <option value="">Select Size</option>
                       <option value="UK 6">UK 6</option>
                       <option value="UK 8.5">UK 8.5</option>
                       <option value="UK 9">UK 9</option>
                       <option value="UK 10">UK 10</option>
                       <option value="UK 11.5">UK 11.5</option>
                   </select>

                   <!-- Quantity Input -->
                   <label for="quantity">Quantity:</label>
                   <input type="number" name="quantity" value="1" min="1" required>


<!-- Assuming each product has an image -->
<button type="submit" class="add-to-cart"  data-image="imagess/greyShoes1Type2.webp">Add to Cart</button>

               </form>



               <!-- Product Details -->
               <h3>PRODUCT DETAILS <i class="fa fa-indent"></i></h3>
               <br>
               <p>Step up your performance with these sleek Nike grey sports shoes, built for both style and speed. Crafted with breathable mesh uppers for maximum ventilation, these shoes feature responsive cushioning to absorb impact during intense workouts or daily runs. The lightweight design and durable rubber sole provide excellent grip and support, making them ideal for gym sessions, outdoor training, or casual wear. With a modern grey colorway, they effortlessly blend performance with urban style.</p>
           </div>
       </div>
   </div>

   <!-- Related Products Section -->
   <div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
     
 </div>
     
 <!-------------- Our Products -------------->
  <div class="small-container">
              
                  <div class="row">
                    <div class="col-4">
                        <a href="/product-details9"><img src="imagess/watch1.webp"></a>
                            <h4><a href="/product-details9">Brown Fastrack Watch</a></h4>
                           <div class="rating">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star-o"></i>
                           </div>
                           <p>₹1350.00</p> 
                       </div> 
                       <div class="col-4">
                        <a href="/product-details10"><img src="imagess/BlackShoes1.webp"></a>
                        <h4><a href="/product-details10">Adidas Black Shoes</a></h4>
                           <div class="rating">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star-half-o"></i>
                           </div>
                           <p>₹1650.00</p>
                       </div> 
                       <div class="col-4">
                        <a href="/product-details11"><img src="imagess/greyShoes1.webp"></a>
                            <h4><a href="/product-details11">Puma Grey Sports Shoes</a></h4>
                           <div class="rating">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star-half-o"></i>
                           </div>
                           <p>₹1099.00</p>
                       </div> 
                        <div class="col-4">
                            <a href="/product-details12"><img src="imagess/jeans1.webp"></a>
                            <h4><a href="/product-details12">Denim-Jeans</a></h4>
                           <div class="rating">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star-o"></i>
                           </div>
                           <p>₹750.00</p>
                       </div> 
                   </div>
                
                </div>
                
            </div>
       
          
        
   
 <!----------Footer---------------> 
 
 <div class="footer">
     <div class="container">
         <div class="row">
             <div class="footer-col1">
                <h3>Download Our App</h3>
                 <p>Download App for Android and ios mobile phone.</p>
                 <div class="app-logo">
                     <img src="images/play-store.png">
                     <img src="images/app-store.png">
                 </div>
             </div>
             <div class="footer-col2">
                <img src="images/logo-white.png">
                 <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
             </div>
             <div class="footer-col3">
                <h3>Useful Links</h3>
                 <ul>
                     <li>Coupons</li>
                     <li>Blog Post</li>
                     <li>Return Policy</li>
                     <li>Join Affiliate</li>
                 </ul>
             </div>
             <div class="footer-col4">
                <h3>Follow Us</h3>
                 <ul>
                     <li>Facebook</li>
                     <li>Twitter<li>
                     <li>Instagram</li>
                     <li>YouTube</li>
                 </ul>
             </div>
         </div>
         <hr>
         <p class="copyright"><a href="#">Copyright 2025</a></p>
     </div>
     
 </div>
 
 
 
 <!-------------js for toggle menu-------------->
 
 <script>
     
     var MenuItems = document.getElementById("MenuItems");
     
     MenuItems.style.maxHeight = "0px";
     
     function menutoggle()
     {
         if(MenuItems.style.maxHeight == "0px")
             {
                 MenuItems.style.maxHeight = "200px";
             }else
             {
                 MenuItems.style.maxHeight = "0px"
             } 
     }
     
 //-------------Produc Gallery------------
     
     var ProductImg = document.getElementById("ProductImg");
     
     var SmallImg = document.getElementsByClassName("small-img");
        
  
         SmallImg[0].onclick = function()
         {
             ProductImg.src = SmallImg[0].src;
         }
         SmallImg[1].onclick = function()
         {
             ProductImg.src = SmallImg[1].src;
         
         }
         SmallImg[2].onclick = function()
         {
             ProductImg.src = SmallImg[2].src;
         
         }
         SmallImg[3].onclick = function()
         {
             ProductImg.src = SmallImg[3].src;
         
         }
 
   //-------------End Produc Gallery------------  
greyShoes1Type2.webp
     
 </script>
 
 <script src="/js/cart.js"></script>
 
 <!-- <script src="/share.js"></script> -->
 </body>
 
 </html>
 